.header__logo {
  padding-bottom: 31px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header__logo {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-left: 27px;
  }
}
