.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  align-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (min-width: 560px) and (max-width: 668px) {
  .profile__name {
    max-width: 234px;
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .profile__name {
    font-size: clamp(30px, 5vw, 42px);
    line-height: 1.12em;
  }
}

@media screen and (max-width: 560px) {
  .profile__name {
    font-size: clamp(27px, 6vw, 32px);
    line-height: 1.12em;
    max-width: 258px;
  }
}
