.profile__info {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #fff;
  display: grid;
  max-width: 336px;
  width: 100%;
  padding-left: 30px;
  row-gap: 16px;
  column-gap: 18px;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .profile__info {
    column-gap: 9px;
  }
}

@media screen and (max-width: 560px) {
  .profile__info {
    padding: 0;
    row-gap: 11px;
    column-gap: 10px;
    width: max-content;
  }
}
