.header-login-register__logo {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
  .header-login-register__logo {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header-login-register__logo {
    padding-left: 27px;
  }
}
