.scaled-images-container__title {
  position: absolute;
  left: 0;
  bottom: -25px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 291px;
  width: 100%;
}
