.popup__error {
  margin-top: 4px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  max-width: 358px;
  width: 100%;
  min-height: 30px;
}

@media screen and (max-width: 620px) {
  .popup__error {
    max-width: 230px;
  }
}
