.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  background-image: url(./../../../images/profile-edit-button-vector.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  align-self: flex-end;
  transition: opacity .18s linear;
  cursor: pointer;
  padding: 0;
  margin-bottom: 8px;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .profile__edit-button {
    width: 2.5vw;
    max-width: 15.5px;
    height: 2.5vw;
    max-height: 15.5px;
  }
}

@media screen and (min-width: 620px) and (max-width: 768px) {
  .profile__edit-button {
    background-size: 1.06vw 1.06vw;
  }
}

@media screen and (min-width: 560px) and (max-width: 620px) {
  .profile__edit-button {
    background-size: 6.4px 6.4px;
  }
}

@media screen and (max-width: 560px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
