.footer {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #545454;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    max-width: 936px;
    width: calc(100vw - 44px*2);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 730px;
    width: calc(100vw - 19px*2);
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding-bottom: 36px;
  }
}
