.places__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content max-content;
  row-gap: 25px;
  align-items: center;
  background-color: #fff;
  padding-bottom: 26px;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #000000;
  box-sizing: border-box;
}
