.info-popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 55px 0 68px;
}

@media screen and (max-width: 620px) {
  .info-popup__container {
    max-width: 280px;
  }
}

.info-popup__close-button {
  position: absolute;
  top: -39px;
  right: -39px;
  width: 32px;
  height: 32px;
  margin: 0;
  border: 0;
  background-color: transparent;
  background-image: url(./../images/edit-form-close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  cursor: pointer;
  transition: opacity .1s;
}

.info-popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 620px) {
  .info-popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

.info-popup__title {
  line-height: 29px;
  font-weight: 900;
  font-size: 24px;
  color: #000;
  width: 100%;
  max-width: 358px;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .info-popup__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.info-popup__img {
  width: 120px;
  aspect-ratio: 1;
  padding-bottom: 32px;
}
