.popup__form {
  display: flex;
  grid-column: 1/2;
  width: 430px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  padding-bottom: 37px;
}

@media screen and (max-width: 620px) {
  .popup__form {
    width: 282px;
    grid-row: 2/3;
    padding-bottom: 25px;
  }
}
