.header {
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-top: 45px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header {
    padding-top: 45px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 28px;
  }
}
